PORT=5000
MONGO_URI=mongodb_url

CORS_ORIGIN=http://localhost:4200

ADMIN_SETUP_SECRET=adminsetupsecretkey

CLOUD_NAME=test_cloud_name
CLOUDINARY_API_KEY=test_cloudinary_api_key
CLOUDINARY_API_SECRET=test_cloudinary_api_secret    

ACCESS_TOKEN_SECRET=supersecretkey
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=superrefreshsecret
REFRESH_TOKEN_EXPIRY=10d

RAZORPAY_KEY_ID=replace_with_razorpay_key_id
RAZORPAY_KEY_SECRET=replace_with_razorpay_key_secret

FRONTEND_URL=http://localhost:4200

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=smtp_user
SMTP_PASS=smtp_pass
SMTP_FROM="Your Company Name <smtp_user_email>"

DELIVERY_MODE=test
DHL_API_KEY=replace_with_dhl_api_key

SHIPMENT_POLL_INTERVAL_MS=300000
SHIPMENT_POLL_INITIAL_DELAY_MS=15000
